.map {
    height: 50rem;
    width: 40rem;
    margin: 0 auto;



    @include respond(tab-port) {
        width: 50rem;
        height: 40em;
    }
    @include respond(phone) {
        height: 40em;
        width: 35rem;

    }


}